ORB_TTS_KOKORO_URL=http://127.0.0.1:8880/speak
ORB_TTS_KOKORO_VOICE=am_michael
ORB_TTS_KOKORO_FORMAT=wav
ORB_TTS_KOKORO_PAYLOAD_MODE=kokoro-direct
LOCAL_LLM_URL=http://127.0.0.1:16520/api/generate
LOCAL_LLM_MODEL=orb-auto
